# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/mernproject/node_modules
/mernproject/.pnp
/mernproject/.pnp.js

# testing
/mernproject/coverage

# next.js
/mernproject/.next/
/mernproject/out/

# production
/mernproject/build

# misc
/mernproject/.DS_Store
/mernproject/*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
/mernproject/.env*.local

# vercel
/mernproject/.vercel

# typescript
/mernproject/*.tsbuildinfo
/mernproject/next-env.d.ts

/backend/config/*.env
/backend/node_modules
backend/.env*.local
backend/*.env
/backend/config/*.env

